@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html,
  html::-webkit-scrollbar-corner {
    @apply bg-neutral-900 text-gray-200;
  }
  html::-webkit-scrollbar {
    @apply w-2 bg-neutral-900;
  }
  html::-webkit-scrollbar-thumb {
    @apply w-2 bg-black;
  }
  input[type='password'],
  input[type='text'],
  input[type='email'] {
    background: transparent;
    display: block;
  }

  *:focus,
  *:focus-visible,
  *:focus-within {
    outline: 0 none;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .c-scroll::-webkit-scrollbar {
    @apply w-2 p-4 bg-neutral-900;
  }
  .c-scroll::-webkit-scrollbar-thumb {
    @apply w-2 bg-black;
  }
}
