.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@keyframes bga {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}

.animate-bg {
  background-size: 200%;
  animation: bga 1s infinite linear;
}
